

@keyframes move {
  0% {
    transform: translateX(0) translateY(-200px);
    animation-timing-function: ease-in-out;
  }
  10% {
    transform: translateX(0) translateY(-300px);
    animation-timing-function: ease-in-out;
  }

  30% {
    transform: translateX(-360px) translateY(-480px);
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: translateX(-360px) translateY(-480px);
    animation-timing-function: ease-in-out;
  }
  60% {
    transform: translateX(300px) translateY(-320px);
    animation-timing-function: ease-in-out;
  }
  70% {
    transform: translateX(300px) translateY(-320px);
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: translateX(-360px) translateY(-161px);
    animation-timing-function: ease-in-out;
  }
  90% {
    transform: translateX(-465px) translateY(-161px);
    animation-timing-function: ease-in-out;
    background-image: linear-gradient(126deg, transparent 50%, green 50%),
      linear-gradient(90deg, green 50%, transparent 50%);
  }
  91% {
    transform: translateX(-465px) translateY(-161px);

    background-image: linear-gradient(0, transparent 50%, green 50%),
      linear-gradient(0, green 50%, transparent 50%);
  }
  95% {
    transform: translateX(-465px) translateY(-161px);

    background-image: linear-gradient(0, transparent 50%, green 50%),
      linear-gradient(0, green 50%, transparent 50%);
  }
  100% {
    background-image: linear-gradient(0, transparent 50%, green 50%),
      linear-gradient(0, green 50%, transparent 50%);
    transform: scale(20);
  }
}
